@import 'tailwindcss';
@theme {
	--breakpoint-sm: 560px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;

	--color-background: #f8f5ef;
	--color-primary: #202023;
	--color-secondary: #1f1f23;
	--color-text: #a9a9a9;
}
